################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoLibrary/bin/Debug/net7.0
/.vs/MediatRDemo/v17
/DemoLibrary/obj
/BlazorUI/obj
/BlazorUI/bin/Debug/net7.0
/MediatRDemoApi/obj
/MediatRDemoApi/bin
MediatRDemo/DemoLibrary/obj
MediatRDemo/vs
**/bin/*
**/obj/*