@page "/"
@using DemoLibrary.Models;
@using DemoLibrary.Queries;
@inject MediatR.IMediator _mediatr;

<PageTitle>Index</PageTitle>

Welcome to your new app.

<ul>
    @foreach (var person in people)
    {
        <li>@person.Name @person.Surname</li>
    }
</ul>
@code {
    List<PersonModel> people;
    protected override async Task OnInitializedAsync()
    {
        people = await _mediatr.Send(new GetPersonListQuery());
    }
}
